body {
    margin: 0;
}

.container {
    background-color: #313131;
    padding: 1rem;
    margin-top: 1rem;
}

.item{
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: grab;
}

.item.dragging{
    opacity: 0.5;
}